[project]
	description = testing
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/yzxzxm
[access "refs/for/refs/*"]
	read = group user/yzxzxm
	push = group user/yzxzxm
	label-Code-Review = -2..+2 group user/yzxzxm
	label-Verified = -1..+1 group user/yzxzxm
	rebase = group user/yzxzxm
	removeReviewer = group user/yzxzxm
	submit = group user/yzxzxm
[access "refs/heads/*"]
	read = group user/yzxzxm
	create = group user/yzxzxm
	push = +force group user/yzxzxm
	pushMerge = group user/yzxzxm
[access "refs/tags/*"]
	push = group user/yzxzxm
	push = +force group user/yzxzxm
